<p>Número de  preguntas:<%=resultado.preguntas%></p> 
<p>Número de comentarios:<%=resultado.comentarios%></p>
<p>Número de comentarios por pregunta:<%=resultado.media%></p>
<p>Número de preguntas sin comentarios;<%=resultado.preguntassin%></p>
<p>Número de preguntas con comentarios:<%=resultado.preguntascon%></p>
